h1 {
    font-size: 20px;
}

h2 {
    font-size: 20px;
}

.main-content {
    display: flex;
}

.left-content {
    width: 260px;
    height: 100vh;
    border-right: 3px solid #a8a8a8;
}

.items-block-line {
    margin-top: 20px;
}

.sm-item-two {
    width: 32%;
}

.buttons-menu {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.button-menu {
    padding: 10px 20px;
    text-decoration: none;
    color: #999;
}

.button-menu:hover {
    color: #ff4363;
}

.button-menu.active {
    background-color:#ff4363; 
    color: #ffffff;
}

.right-content {
    width: 100%;
}

.header-block {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    color: #444;
    height: 40px;
    padding: 0px 20px;
    margin: 10px;
}

.content-blocks {
    padding: 0px 20px;
    margin: 10px;
}

.sm-item {
    width: 20%;
}

.sm-item-two {
    width: 32%;
}

.square {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    border-right: 3px solid rgb(160, 160, 160);
    border-bottom: 3px solid rgb(160, 160, 160);
    border-left: 1px solid rgb(160, 160, 160);
    border-top: 1px solid rgb(160, 160, 160);
}

.item-body {
    display: flex;
    justify-content: flex-end;
}

.picture-o > img{
    width: 80px;
    height: 80px;
    position: relative;
    bottom: 20px;
    left: 20px;
}

.picture-two{
    text-align: center;
}

.picture-two > img{
    width: 92%;
    height: 150px;
    position: relative;
    bottom: 20px;
}

.sm-item-two.square {
    margin-top: 5px;
}

.text-tab {
    font-size: 16px;
    margin-bottom: 0px;
    text-align: right;
    margin-right: 10px;
}

.num {
    font-size: 28px;
    margin: 0px;
    text-align: right;
    padding-right: 10px;
}

.item-body > * {
    width: 52%;
}

.text-two-line {
    font-size: 16px;
    margin: 0 20px;
}

.num-two-line {
    font-size: 12px;
    margin: 0 20px;
}

.item-footer {
    font-size: 10px;
    padding: 10px 0;
    padding-left: 18px;
    margin-top: 10px;
    border-top: 1px solid #000;
}

