.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 20%; /* Same as the width of the sidenav */
    padding: 0px 10px;
    margin-bottom: 100px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.logo {
    font-size: 30px;
    font-weight: bold;
    padding: 6px 8px 6px 16px;
}

/* Cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
    transition: 0.3s;
    width: 30%;
    border-radius: 14px;
    margin: 10px;
    float: left;
    max-width: 300px;
    max-height: 400px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}

.container {
    padding: 2px 16px;
}

.card img {
    width: 100%;
    height: 200px;
}

.footer {
    margin-left: 21%; /* Same as the width of the sidenav */
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 77%;
    border-top: 1px solid #626262;
}

.card .textLogo {
    font-size: 25px;
    font-weight: bold;
    padding: 6px 8px 6px 16px;
}

.miniCardHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.cardHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.bigCardHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.bigCardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

button {
    border-radius: 14px;
    background-color: #000000;
    color : #ffffff;
    border: 0px solid #ffffff;
}

button:hover {
    background-color: #ffffff;
    color : #000000;
    border: 1px solid #ffffff;
}

