.sm-item {
    width: 23%;
    margin-bottom: 25px;
}

.item-body > * {
    width: 74%;
    justify-content: space-between;
}

.picture-o {
    width: 25%;
}

.picture-o > img{
    width: 60px;
    height: 60px;
    bottom: 20px;
    left: 20px;
}

.item-footer {
    padding-left: 30px;
    padding-top: 3px;
    border-top: 1px solid #000;
}

.text-tab {
    font-size: 14px;
    margin-bottom: 0px;
    text-align: right;
    margin-right: 10px;
}

.num {
    font-size: 28px;
    margin: 0px;
    text-align: right;
    padding-right: 10px;
}
