/* Mobile Style */

.card {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 14px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    border-top: 1px solid #626262;
}

.card .textLogo {
    font-size: 25px;
    font-weight: bold;
    padding: 6px 8px 6px 16px;
}

.miniCardHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.cardHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.bigCardHolder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}

.bigCardHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
}

button {
    border-radius: 14px;
    background-color: #000000;
    color : #ffffff;
    border: 0px solid #ffffff;
}

button:hover {
    background-color: #ffffff;
    color : #000000;
    border: 1px solid #ffffff;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    border-top: 1px solid #626262;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}