.picture-o > img {
    width: 60px;
    height: 60px;
}

.sm-item-two {
    width: 32%;
}

.picture-two > img{
    width: 80%;
    height: 92px;
}

.picture-two {
    margin-bottom: -12px;
}

.sm-item {
    width: 48%;
    margin: 15px 0;
}

.left-content {
    display: flex;
    flex-direction: column;
}

.icon {
    display: none;
}

.close {
    display: none;
}

.num-two-line {
    font-size: 14px;
}



/*.left-content.active {
    display: none;
}*/