
 @import url(burger.css);

body {
  background-color:  #2c473e;
}
.container {
    display: grid; 
    grid-template-columns: 0.4fr 2.2fr 0.4fr; 
    grid-template-rows: 0.3fr 2.5fr 0.3fr; 
min-height: 100vh;
    grid-template-areas: 
      "header header header"
      "aside main main"
      " footer footer footer"; 
  }
  .header { grid-area: header; 
  background-color:#00AB6F;
  padding: 20px;
  border-radius: 60px;
  
} 

  .aside {
    font-size: 20px;
    grid-area: aside;
  background-color: #20805E;
  border-radius: 60px;
  padding: 20px;
  }
  .footer {
    display: inline-grid;
     grid-area: footer ;
  background-color: #006F48;
  grid-template-columns: 1fr ; 
  grid-template-rows: 1fr ; 
  border-radius: 60px;
  padding: 20px;
  
  
  }
  .main {
    grid-area: main;

  } 
  
  
   /*блок 1 */
  
 

  .main11 { 
    position: relative;
  background-color: #194979;
  margin: 10px;
    padding: 10px; 
    border-radius: 60px;
width: 200px;
  }
  .main12 {
    position: relative;
    background-color: #194979;
    margin: 10px;
    padding: 10px; 
    border-radius: 60px;

    width: 200px;


  }
  .main13 { 
    position: relative;
    background-color:#194979;
    margin: 10px;
    padding: 10px; 
    border-radius: 60px;

    width: 200px;


  }
  .main14 { 
    position: relative;
    background-color: #194979;
    margin: 10px;
    padding: 10px; 
    border-radius: 60px;

    width: 200px;



  } .grid_1 {
    
    border-radius: 60px;
    color: white;
    display: flex; 
    background-color: #408AD2;

    flex-direction: row;
    justify-content: space-around;

    flex-wrap:wrap;

    
  }
   /*блок 1 */



   /*блок 2 */
   
   .grid21 { 
    position: relative;
    background-color: #194979;
    margin: 10px;
    padding: 10px; 
    border-radius: 60px;

    width: 200px;
    
  } 
   .grid22 { 
    position: relative;
    background-color: #194979;
    margin: 10px;
    padding: 10px; 
    border-radius: 60px;

    width: 200px;
  }
  .grid23 { 
    position: relative;
    background-color: #194979;
    margin: 10px;
    padding: 10px; 
    border-radius: 60px;

    width: 200px;

    
  
  }
  
 
  
   .grid_2 {
    display: flex; 


    flex-direction: row;
    justify-content: space-around;

    flex-wrap:wrap;
 

    color: white;  
    background-color: #408AD2;
    border-radius: 60px;
   
  }
     /*блок 2 */

     .grid_3 {
      display: flex; 


      flex-direction: row;
      justify-content: space-around;
  
      flex-wrap:nowrap;
   
  
      color: white;  
      background-color: #408AD2;
      border-radius: 60px;
  
      color: white;  
   
     }



  .grid31 { 
 width: 45%;

 
    margin: 10px;
    padding: 30px;
 background-color: #194979;
    color: white; 
    border-radius: 60px;
   

  }
  .grid32 { 
    width: 45%;
    margin: 10px;
    padding: 30px;
    background-color: #194979;
    color: white; 
    border-radius: 60px;  
  


   
   
    
  }

  

  .header_name {
    font-size: 50px;
    margin: 0px 0px 0px 150px;
    color: white;
  }


  .info1{

    float: left;
    width: 75%;
    

  }
  
  .info2{
    display: inline-grid;
    float: left;
    width: 15%;
    
  }
  hr{
    color:white;
  }
  .img_holder{
 z-index: 10;
	position: absolute;
	width:100px;
	height: 100px;
	top: 100px;
  left: 150px;


  }
  .companyrofl{
    color: white;
  }
  a:active{
    color: white;

  }
a:hover{
  color: rgb(72, 50, 50);
  background-color: #408AD2;

}
a{
  color: rgb(255, 255, 255) ;
  text-decoration: none ; 
}
li:hover{
  display: block;
  padding: 12px 24px;  color: #ffffff;  font-family: 'Roboto', sans-serif;
  font-size: 20px;
  font-weight: 600;  text-decoration: none;
  background-color: #00AB6F;
}
  @import url(burger.css);

  @media screen and (max-width: 500px) {
    .grid_1 {
        grid-template-columns: repeat(4, 1fr) !important;
        grid-template-rows: repeat(4, 1fr) !important;
    }
}

@media screen and (max-width: 650px){
    .grid_2 {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width: 800px){
 
    .aside {
        width: 0;
    }
    .main {
        margin-left: -80px;
    }
    .footer {
        margin-left: 0;
        max-width: 100%;
    }
    .aside{
      display: none;
    }
    .menu__btn {
     
      display:flex;
    .main{
      grid-area: aside/ main ;
    }

}

@media screen and (max-width: 1000px){
   
}
