@import url('variables.less');

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    font: 400 20px/1.1 'Montserrat', sans-serif; 
    background-color: #d7d7d7;
    color: #646464;
}

a,
a:visited,
a:focus{
    text-decoration: none;
    outline: none;
    color: inherit;
}

h3{
    font-weight: 400;
}

.page{
    display: grid;
    .grid-properties(1fr auto, minmax(221px, 15fr) 85fr, 0);
    max-width: 100vw;
    min-height: 100vh;
}

/* Header */

.header{
    grid-row: 1 / 3;
    background-color: @content-bg;
    box-shadow: 3px 0 3px @block-shadow-color;

    &__title{
        padding: 20px 26px 20px 20px;
        margin-bottom: 20px;
        font: @title-font;
        border-bottom: 1px solid silver;
    }

    &__nav{
        padding: 0 15px;

        &-items{
            list-style: none;
        }

        &-link{
            display: block;
            padding: 15px;
            color: inherit;
            transition: .15s;

            &:hover,
            &:active{
                .elem-hover(white, #e32c6c);
            }

            & svg{
                position: relative;
                top: 1px;
                left: 0;
                margin-right: 7px;
            }
        }

        &-item:first-child &-link{
            color: white;
            background-color: #cf0c50;
        }
    }
}

/* Main */

.main{
    grid-row: 1 / 2;
    padding: 0 20px;
    margin-bottom: 30px;

    &__top{
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 20px 26px 20px 0;
        margin-bottom: 40px;
    }

    &__burger{
        display: none;
    }

    &__title{
        font: @title-font;
    }
}

/* Small cards */

.sm-cards{
    display: grid;
    .grid-properties(auto, repeat(4, 1fr), 35px 15px);
    margin-bottom: 40px;

    &__card{
        padding: 12px;
        font-size: 10px;
        background-color: @content-bg;
        box-shadow: 3px 3px 3px @block-shadow-color;

        &-content{
            display: flex;
            justify-content: space-between;
            gap: 15px;
            padding-bottom: 9px;
            margin-bottom: 15px;
            border-bottom: 1px solid silver;
        }

        &-picture{
            position: relative;
            top: -25px;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 45px;
            height: 45px;
            flex-shrink: 0;
            color: white;
        }

        &:nth-child(1) &-picture{
            background-color: #009e00;
        }

        &:nth-child(2) &-picture{
            background-color: #ffae00;
        }
        
        &:nth-child(3) &-picture{
            background-color: #1f1fff;
        }

        &:nth-child(4) &-picture{
            background-color: #ff2d4c;
        }

        &-footer a{
            color: inherit;

            &:hover,
            &:active{
                .elem-hover(#343434, transparent);
            }
        }

        &-info h3{
            margin-bottom: 5px;
            text-align: right;
            font-size: 1.2em;
        }

        &-info p{
            text-align: right;
            font-size: 2em;
        }

        &-footer a, 
        &-footer p{
            font-size: 1.4em;
        }

    }
}

/* Medium cards */

.md-cards{
    display: grid;
    .grid-properties(auto, repeat(3, 1fr), 35px 15px);
    margin-bottom: 40px;

    &__card{
        padding: 12px;
        font-size: 10px;
        background-color: @content-bg;
        box-shadow: 3px 3px 3px @block-shadow-color;

        &:nth-child(1) &-picture{
            background-color: #009e00;
        }

        &:nth-child(2) &-picture{
            background-color: #ffae00;
        }
        
        &:nth-child(3) &-picture{
            background-color: #1f1fff;
        }

        &-content{
            padding-bottom: 8px;
            margin-bottom: 15px;
            border-bottom: 1px solid silver;
        }

        &-picture{
            position: relative;
            top: -25px;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 130px;
            padding: 15px;
            color: white; 
            margin-bottom: 8px;

            img{
                width: 100%;
                height: 100%;
            }
        }
    
        &-info{
            margin-top: -25px;

            & h3{
                font-size: 1.9em;
                margin-bottom: 3px;
            }

            & p{
                font-size: 1.4em;
            }
        }  
        
        &-footer{

            & p{
                position: relative;
                padding-left: 20px;
                font-size: 1.2em;

                & svg{
                    position: absolute;
                    top: 2px;
                    left: 0;
                }
            }
        }
    }

}

/* Large cards */

.lg-cards{
    display: grid;
    .grid-properties(auto, repeat(2, 1fr), 35px 15px);

    &__form{
        padding: 12px;
        font-size: 10px;
        background-color: @content-bg;

        &-header{
            position: relative;
            top: -25px;
            left: 0;
            display: flex;
            align-items: center;
            gap: 12px;
            padding: 8px 12px;
            margin-bottom: 15px;
            font-size: 1.5em;
            color: white;
            background-color: #ffae00;

            & h3{
                font-size: 0.8em;
            }
        }

        &-button{
            padding: 6px;
            font: 400 0.8em/1.1 'Montserrat', sans-serif;
            color: white;
            background-color: transparent;
            border: none;
            cursor: pointer;
            transition: .15s;

            &:focus{
                outline: none;
                border: none;
                box-shadow: none;
            }

            &:hover{
                .elem-hover(inherit, rgba(255, 255, 255, 0.25));
            }

            &_active{
                background-color: rgba(255, 255, 255, 0.25);
            }

            & svg{
                position: relative;
                top: 2px;
                left: 0;
                margin-right: 5px;
            }
        }

        &-inputs{
            margin-top: -25px;
        }

        &-input-wrap{
            display: flex;
            align-items: center;
            gap: 10px;
            padding: 10px;

            &:not(:last-child) {
                border-bottom: 1px solid silver;
            }

            & label{
                font-size: 1.2em;
            }
        }

        &-icons{
            display: flex;
            align-items: center;
            gap: 4px;
            margin-left: auto;

            & svg:first-child{
                color: green;
            }

            & svg:last-child{
                color: #ff3c3c;
            }
        }

    }

    &__table{
        padding: 10px 10px 20px 10px;
        font-size: 10px;
        background-color: @content-bg;

        &-header{
            position: relative;
            top: -25px;
            left: 0;
            padding: 10px;
            color: white;
            background-color: #1f1fff;
        }

        &-title{
            font-size: 1.3em;
            margin-bottom: 10px;
        }

        &-desc{
            font-size: 1.1em;
        }

        &-content{
            width: 100%;
            margin-top: -10px;
            font-size: 1.2em;
            border-collapse: collapse;

            & th:nth-child(1),
            & td:nth-child(1) {
                width: 10%;
            }

            & th:nth-child(2),
            & td:nth-child(2) {
                width: 40%;
            }

            & th:nth-child(3),
            & td:nth-child(3) {
                width: 25%;
            }

            & th:nth-child(4),
            & td:nth-child(4) {
                width: 25%;
            }

            & th{
                padding: 9px 7px;
                text-align: left;
                font-weight: 400;
                color: #008b8b;
                border-bottom: 1px solid silver;
            }

            & td{
                padding: 9px 7px;
            }

            & tr:not(:last-child) td {
                border-bottom: 1px solid silver;
            }
        }
    }

}

/* Footer */

.footer{
    grid-row: 2 / 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 20px;
    border-top: 1px solid grey;

    &__nav-items{
        display: flex;
        align-items: center;
        gap: 30px;
        list-style: none;
    }

    &__nav-link{
        font: 500 14px/1.1 'Roboto Slab', serif; 
        text-transform: uppercase; 
        color: #5f5f5f;
        transition: .15s;

        &:hover,
        &:active{
            .elem-hover(#343434, transparent);
        }

    }

    &__text{
        padding-top: 3px;
        font-size: 14px;
    }
}

/* Media queries */

@media screen and (max-width: 999px) {
    
    .sm-cards{
        .grid-properties(150px 150px, repeat(2, 1fr), 25px 15px);

        &__card{
            font-size: 15px;

            &-picture{
                width: 80px;
                height: 80px;

                & svg{
                    width: 40px;
                    height: 40px;
                }
            }

            &-footer a,
            &-footer p{
                font-size: 1em;
            }
        }
    }

    .lg-cards{
        display: grid;
        .grid-properties(auto auto, 1fr, 35px 15px);
        margin-bottom: 15px;

        &__form,
        &__table{
            font-size: 15px;
        }

        &__form-button svg{
            width: 17px;
            height: 17px;
        }
    }

}

@media screen and (max-width: 799px) {

    .page{
        .grid-properties(auto auto, 1fr, 0);
    }

    .header{
        position: absolute;
        top: 0;
        left: 0;
        grid-row: 1 / 1;
        min-width: 221px;
        height: 100%;
        transform: translateX(-105%);
        z-index: 100;
    }

    .main__burger{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 35px;
        height: 25px;
        cursor: pointer;

        &-line{
            height: 5px;
            background-color: grey;

            &:nth-child(2) {
                height: 5px;
            }
        }
    }

}

@media screen and (max-width:649px) {

    .sm-cards__card{
        font-size: 12px;

        &-content p{
            font-size: 1.6em
        }
    }

    .md-cards{
        .grid-properties(repeat(3, auto), 1fr, 35px 15px);

        &__card{
            font-size: 12px;

            &-picture{
                height: 170px;
            }
        }
    }

}

@media screen and (max-width:499px) {

    .sm-cards{
        .grid-properties(repeat(4, auto), 1fr, 35px 15px);

        &__card{
            font-size: 13px;

            &-content p{
                font-size: 2em
            }

            &-picture{
                width: 80px;
                height: 80px;
            }

            &-footer a,
            &-footer p{
                font-size: 1.3em;
            }

        }
    }

}