@color: #3E3F41;
@colorSecond: #828282;
@borderColor: #D9D9D9;
@btnHoverColor: #C32057;
@backgroundColor: #EAEAEA;
@white: #FFFFFF;
@green: #468A01;
@orange: #D79C21;
@blue: #274C92;
@purpleRed: #C32057;
@turquoise: #399092;

.indents(@mar: 20px, @pad: 20px) {
    margin: @mar;
    padding: @pad;
}