.aside {
  border-right: re-c(2) solid rgb(104, 102, 102);
	min-width: 100%;
	padding: 0 re-c(10) re-c(10);

  &__title {
    display: block;
    margin: re-c(30) 0;
    font-size: re-c(26);
    color: black;
  }

  &__list {
  }

  &__list-item {
    position: relative;
    display: flex;
    align-items: center;
    gap: re-c(5);
    list-style: none;
    &:not(:last-child) {
      margin-bottom: re-c(20);
    }
  }


  &__link {
    text-decoration: none;
    color: #292828;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      display: block;
      padding: 0;
    }
  }

  &__icon {
    width: re-c(30);
    height: re-c(30);
  }
}
