.aside {
	border-right: re-c(2) solid rgb(104, 102, 102);
	padding: 0 re-c(10) re-c(10);
	background-color: rgb(156, 156, 156);

	&__title {
		display: block;
		margin: re-c(30) 0;
		font-size: re-c(26);
		color: black;
	}

	&__list {
	}

	&__list-item {
		position: relative;
		display: flex;
		align-items: center;
		padding: re-c(20) re-c(5);
		list-style: none;
		gap: re-c(10);
		transition: background-color 400ms;

		&:not(:last-child) {
			margin-bottom: re-c(10);
		}

		&:hover {
			background-color: rgb(134 131 131 / 40%);

			& .aside__link {
				color: #3b3a3a;
			}
		}
	}

	&__link {
		width: 100%;
		text-decoration: none;
		color: #292828;
		transition: color 400ms;

		&::before {
			content: "";
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			display: block;
			padding: 0;
		}
	}

	&__icon {
		width: re-c(30);
		height: re-c(30);
	}
}
