.filter {
	display: flex;
	gap: re-c(10);
	align-items: center;
	margin: 0;
	list-style: none;

	&__item {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			&::after {
				content: ",";
				color: #fff;

				@media (min-width: 300px) {
					display: none;
				}
			}
		}
	}

	&__button {
		display: flex;
		align-items: center;
		font-weight: 700;
		font-size: clamp(re-c(16), 4vw, re-c(22));
		padding: re-c(16) re-c(20);
		color: #fff;
		transition: background-color 400ms;
		cursor: pointer;

		&:hover {
			background-color: rgb(255 198 73 / 20%);
		}
	}

	&__img {
		display: none;

		@media (min-width: 300px) {
			display: initial;
		}

		margin-right: re-c(4);
	}

}
