.graphics {
	margin-top: re-c(60);

	&__list {
		@media (min-width: 650px) {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: re-c(20);
		}
	}

	&__list-item {
		margin-bottom: re-c(55);
	}

}

.graphic-panel {
	display: flex;
	flex-direction: column;
	padding: re-c(20);
	background-color: #f8f6f6;
	box-shadow: 3px 4px 3px 3px #a9a9a9;
	gap: re-c(10);

	&__icon {
		top: re-c(-20);
		width: re-c(120);
		height: re-c(120);
		margin: re-c(-40) 0 0;
	}

	&__image {
		width: 100%;
		height: re-c(230);
		margin: re-c(-40) 0 0 0;
	}

	&__title {
		display: inline-flex;
		flex-direction: column;
		justify-content: space-around;
		font-size: clamp(re-c(14), 4vw, re-c(16));
		font-weight: 400;
		color: #727272;
	}

	&__text {
		font-weight: 700;
		font-size: clamp(re-c(26), 5vw, re-c(38));
		color: #727272;
	}

	&__action {
		font-weight: 700;
		font-size: clamp(re-c(14), 5vw, re-c(16));
		color: #727272;
		transition: color 400ms;

		&:hover {
			color: #000;
		}
	}
}
