.nav {
	&__list {
		display: flex;
		gap: re-c(10);
	}

	&__item {
		list-style: none;
	}

	&__link {
		text-decoration: none;
		color: rgb(29, 29, 29);
		transition: color 400ms;

		&:hover {
			color: rgb(129, 129, 129);
		}
	}
}
