.panels {
	margin-top: re-c(60);

	&__list {
		@media (min-width: 500px) {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: re-c(20);
		}

		@media (min-width: 1000px) {
			display: flex;
		}
	}

	&__list-item {
		margin-bottom: re-c(10);

		@media (min-width: 1000px) {
			flex: 1 1 auto;
		}
	}
}

.panel {
	padding: re-c(20);
	background-color: #f8f6f6;
	box-shadow: 3px 4px 3px 3px #a9a9a9;

	&__top {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin-bottom: re-c(10);
		padding: 0 0 8px 0;
		border-bottom: 1px solid #000;

		@media (min-width: 588px) {
			justify-content: space-between;
			flex-direction: row;
		}
	}

	&__icon {
		top: re-c(-20);
		width: re-c(120);
		height: re-c(120);
		margin: re-c(-40) auto 0;

		@media (min-width: 588px) {
			margin: re-c(-40) 0 0;
		}
	}

	&__info {
	}

	&__title {
		display: inline-flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		@media (min-width: 588px) {
			align-items: end;
		}

		& span {
			font-weight: 400;
			font-size: clamp(re-c(14), 3vw, re-c(16));
			color: #727272;
		}
	}

	&__text {
		text-align: right;
		font-weight: 700;
		font-size: clamp(re-c(18), 3vw, re-c(38));
		color: #727272;
	}

	&__action {
		font-weight: 700;
		font-size: clamp(re-c(14), 3vw, re-c(16));
		color: #727272;
		transition: color 400ms;
	}

	a.panel__action:hover {
		color: #000;
	}
}
