.tasks {
	padding: re-c(20);
	margin-bottom: re-c(40);
	background-color: #f8f6f6;
	box-shadow: 3px 4px 3px 3px #a9a9a9;

	&__top {
		display: flex;
		margin-top: re-c(-40);
		padding: re-c(6) re-c(20);
		background-color: #bda249;
		gap: re-c(14);
	}

	&__title {
		margin: auto 0;
		color: #fff;
		font-size: clamp(re-c(16), 4vw, re-c(22));
	}

	&__filter {
		overflow-x: auto;
	}

	&__list {
	}
}
