{
 "extends": "stylelint-config-standard",
 "rules": {
  "indentation": 2,
  "custom-property-pattern": [
    "^([a-z][a-z0-9]*)(-[a-z0-9]+)*$",
    {
      "message": "Expected custom property name to be kebab-case"
    }
    ]
  }
}
