@active: #c32057;
@green: #438a06;
@orange: #d49f1d;
@blue: #264d98;
.animwidth {
    transition: width 0.2s;
}
.animfsize {
    transition: font-size 0.2s;
}
@max1280: ~"(max-width: 1280px)";
@max1160: ~"(max-width: 1160px)";
@max1100: ~"(max-width: 1100px)";
@max1070: ~"(max-width: 1070px)";
@max1000: ~"(max-width: 1000px)";
@max799: ~"(max-width: 799px)";
@max649: ~"(max-width: 649px)";
@max499: ~"(max-width: 499px)";

.flex-center {
    display: flex;
    align-items: center;
}
.pad-link {
    padding: 10px;
}
.title {
    color: #000;
    font-size: 25px;
}
.alignment {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.line {
    height: 1px;
    border: none;
    border-top: 1px solid #000;
}
.shadows-right {
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.277);
}

// для 3 картоек стилди
.header-third {
    .alignment();
    top: 0;
    font-size: 14px;
    margin: 0 auto;
    background-color: @orange;
    padding: 15px;
    .flex-center();
    color: #fff;
}
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a:active,
a:focus {
    outline: none;
    border: none;
}

body {
    color: #000;
    background-color: #eaeaea;
    font-size: 16px;
    font-family: "Raleway", sans-serif;
    position: relative;
}
// header
.header {
    position: absolute;
    background-color: #fff;
    min-height: calc(100% + 20px);
    width: 20vw;
    padding: 30px 20px 0 15px;
    font-size: 18px;
    .shadows-right();
    transition: 0.2s;
    .header-title {
        .title();
        .animfsize();
    }
    hr {
        margin: 20px 0;
        margin-left: 3px;
        width: 20vw;
        .alignment();
        .line();
    }
    ul {
        list-style: none;
        .nav-item {
            margin-bottom: 10px;
            cursor: pointer;
            transition: 0.2s;
            .pad-link();
            &:last-child {
                margin-bottom: 0;
            }
            &:hover {
                background-color: @active;
            }
            &:hover a {
                color: #fff;
            }
            div {
                .flex-center();
                img {
                    width: 30px;
                }
                a {
                    margin-left: 15px;
                    text-decoration: none;
                    color: #000;
                    transition: 0.2s;
                }
            }
        }
    }
}
// main
.main {
    margin-left: 20vw;
    max-width: 80vw;
    padding: 30px 20px 0 20px;
    margin-bottom: 20px;
    .burger-wrapper {
        .burger-inner {
            display: none;
            position: relative;
            z-index: 10;
            padding: 10px;
            max-width: 50px;

            .bar {
                width: 20px;
                height: 2px;
                background-color: #000;
                display: block;
                transition: .2s;
            }
            .top {
                position: absolute;
                bottom: 6px;
                left: 10px;
            }
            .bottom {
                position: absolute;
                top: 6px;
                left: 10px;
            }
        }
    }
    hr {
        .line();
        margin-top: 30px;
    }
    .main-title {
        .title();
        .animfsize();
    }
    .rate {
        margin-top: 50px;
        .cards {
            .flex-center();
            justify-content: space-between;

            .card {
                position: relative;
                z-index: 0;
                width: 25%;
                text-align: right;
                padding: 20px;
                margin: 0 10px;
                background-color: #fff;
                .shadows-right();
                > img {
                    width: 80px;
                    padding: 10px;
                    position: absolute;
                    z-index: 0;
                    top: -20px;
                    left: 20px;
                    .animwidth();
                    @media @max1280 {
                        width: 60px;
                    }
                }
                .green {
                    background-color: @green;
                }
                .orange {
                    background-color: @orange;
                }
                .blue {
                    background-color: @blue;
                }
                .pink {
                    background-color: @active;
                }
                .main-text {
                    width: 100%;
                    position: relative;
                    z-index: 0;
                    .rate-title {
                        font-size: 12px;
                        .animfsize();
                        @media @max1100 {
                            font-size: 10px;
                        }
                    }
                    .rate-subtitle {
                        font-size: 22px;
                        .animfsize();
                        @media @max1100 {
                            font-size: 16px;
                        }
                    }
                }
                hr {
                    margin: 15px 0;
                    .line();
                }
                .subtext {
                    margin-left: 8px;
                    position: relative;
                    img {
                        background-color: transparent;
                        width: 15px;
                        .alignment();
                        position: absolute;
                        left: 0;
                    }
                    .rate-event {
                        font-size: 10px;
                        text-align: left;
                        margin-left: 20px;
                    }
                }
            }

            .diagram-card {
                width: 33%;
                padding-top: 150px;

                > img {
                    .alignment();
                    position: absolute;
                    top: 20%;
                    width: 260px;
                    height: 150px;
                    max-width: auto;
                    @media @max1160 {
                        width: 200px;
                    }
                }
                .main-text {
                    text-align: left;
                    .diagram-title {
                        font-size: 20px;
                    }
                    .diagram-subtitle {
                        font-size: 14px;
                    }
                }
            }
        }
    }
    .stats {
        margin-top: 60px;
        .stats-items {
            .flex-center();
            justify-content: space-between;
            .stats-item {
                width: 50%;
                margin: 0 10px;
                position: relative;
                padding: 15px;
                background-color: #fff;
                min-height: 350px;
                max-height: auto;
                .shadows-right();
            }

            .survey {
                .survey-header {
                    width: 100%;
                    .header-third();
                    ul {
                        list-style: none;
                        .flex-center();
                        a {
                            text-decoration: none;
                            color: inherit;
                            @media @max1160 {
                                font-size: 10px;
                            }
                        }
                        li {
                            margin-left: 30px;
                            padding: 10px;
                            cursor: pointer;
                            transition: 0.2s;

                            &:hover {
                                background-color: rgba(255, 255, 255, 0.197);
                            }
                            div {
                                .flex-center();
                            }
                        }
                    }
                    img {
                        .animwidth();
                        width: 20px;
                        margin-right: 10px;
                        @media @max1100 {
                            width: 10px;
                        }
                    }
                }
                .survey-main {
                    margin-top: -20px;
                    hr {
                        .line();
                        margin: 10px 0;
                    }
                    form {
                        margin-top: 15px;
                        font-size: 16px;
                        div {
                            max-width: 500px;
                            .flex-center();
                            input[type="checkbox"] {
                                padding: 5px;
                            }
                            label {
                                margin-left: 10px;
                            }
                            img {
                                width: 20px;
                                margin: 0 10px;
                                cursor: pointer;
                            }
                            .edit {
                                background-color: #39ab92;
                            }
                            .cancel {
                                background-color: red;
                            }
                        }
                    }
                }
            }
            .table {
                .table-header {
                    .header-third();
                    background-color: @blue;
                    p {
                        margin-bottom: 10px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
                .table-main {
                    table {
                        width: 100%;
                        font-size: 16px;
                        text-align: center;
                        border-collapse: collapse;
                        border: none;
                        .animfsize();
                        @media @max1280 {
                            font-size: 14px;
                        }
                        @media @max1100 {
                            font-size: 10px;
                        }
                        thead {
                            color: rgb(10, 186, 186);
                            th {
                                font-weight: 600;
                            }
                        }
                        td,
                        th {
                            padding: 10px 40px 10px 10px;
                            border-bottom: 1px solid #000;
                        }
                        .no-border {
                            border: none;
                        }
                    }
                }
            }
        }
    }
}
// footer
.footer {
    margin-left: 20vw;
    padding-right: 20px;
    nav {
        margin-left: 40px;
        .flex-center();
        justify-content: space-between;
        text-transform: uppercase;
        font-size: 16px;
        .num {
            font-size: 20px;
        }
        ul {
            list-style: none;
            font-weight: 600;
            .flex-center();
            li {
                margin-right: 20px;
                cursor: pointer;
            }
        }
    }
}

.burger-inner.active .bar:nth-child(2) {
    opacity: 0;
}
.burger-inner.active .bar:nth-child(1) {
    transform: translateY(-3px) rotate(45deg);
}
.burger-inner.active .bar:nth-child(3) {
    transform: translateY(5px) rotate(-45deg);
}
.main {
    .burger-wrapper {
        .burger-inner.active {
            top: 18px;
        }
    }
}


body.noscroll {
    overflow: hidden;
}
.header.visible {
    z-index: 2;
    top: 0;
    width: 100vw;
    height: calc(100vh + 20px);
    overflow: auto;
    #header-hr {
        top: 0;
        margin-left: 0;
        width: 100vw;
    }
    .header-title {
        position: relative;
        left: 35px;
    }
    nav {
        ul {
            div {
                img {
                    width: 25px;
                }
                .nav-link {
                    font-size: 20px;
                }
            }
        }
    }
    
}

// Media

@media @max1000 {
    // Header
    .header {
        .header-title {
            font-size: 16px;
        }
        nav {
            ul {
                .nav-item {
                    padding-left: 0;
                    img {
                        width: 15px;
                    }
                    .nav-link {
                        font-size: 12px;
                    }
                }
            }
        }
    }
    // Main
    .main {
        .main-title {
            font-size: 16px;
        }
        .rate {
            .rate-cards {
                flex-wrap: wrap;
                justify-content: space-between;
                .card {
                    width: 48%;
                    margin: 0 5px 40px 5px;
                    .main-text {
                        .rate-title {
                            font-size: 12px;
                        }
                        .rate-subtitle {
                            font-size: 22px;
                        }
                    }
                }
            }
        }
        .diagram {
            margin-top: 0;
            .cards {
                .diagram-card {
                    padding-top: 120px;
                    .animwidth();
                    min-height: 280px;
                    min-width: 180px;
                    > img {
                        width: 150px;
                        height: 100px;
                        top: 10%;
                    }
                    .main-text {
                        .diagram-title {
                            font-size: 16px;
                        }
                        .diagram-subtitle {
                            font-size: 12px;
                        }
                    }
                }
            }
        }
        .stats {
            .stats-items {
                flex-wrap: wrap;
                .stats-item {
                    min-height: 400px;
                    width: 100%;
                    min-height: auto;
                }
                .survey {
                    margin-bottom: 60px;
                    .survey-header {
                        nav {
                            ul {
                                li {
                                    div {
                                        img {
                                            width: 25px;
                                        }
                                        a {
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .table {
                    .table-main {
                        table {
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
    // footer
    .footer {
        nav {
            font-size: 14px;
            .num {
                font-size: 18px;
            }
        }
    }
}

@media @max799 {
    // header
    .header {
        top: -100%;
        min-height: calc(100vh - 20px);
    }
    // main
    .main {
        max-width: 95vw;
        margin-right: auto;
        margin-left: auto;
        padding: 0;
        padding-top: 20px;

        .burger-wrapper {
            position: relative;
            .burger-inner {
                display: block;
                .alignment();
                position: absolute;
                
                left: 15px;
            }
            .main-title {
                margin-left: 40px;
            }
        }
        .diagram {
            margin-top: 20px;
            .cards .diagram-card {
                min-height: 220px;
                padding-top: 100px;
            }
        }
    }
    // footer
    .footer {
        margin-left: 0;
    }
}

@media @max649 {
    .main {
        .rate {
            .rate-cards {
                .card {
                    width: 47%;
                }
            }
        }
        .diagram {
            .cards {
                flex-wrap: wrap;
                .diagram-card {
                    min-height: 245px;
                    width: 100%;
                    padding-top: 140px;
                    margin-top: 80px;
                    > img {
                        width: 400px;
                        height: 170px;
                    }
                }
            }
        }
        .stats {
            .stats-items {
                .survey {
                    .survey-header {
                        nav {
                            ul {
                                li {
                                    div {
                                        a {
                                            font-size: 12px;
                                        }
                                        img {
                                            width: 20px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media @max499 {
    .main {
        .rate {
            .rate-cards {
                .card {
                    width: 100%;
                }
            }
        }
        .diagram {
            .cards {
                .diagram-card {
                    min-width: auto;
                    img {
                        width: 220px;
                    }
                }
            }
        }
        .stats {
            .stats-items {
                .survey {
                    margin-left: 0;
                    margin-right: 0;
                    .survey-header {
                        nav {
                            ul {
                                li {
                                    margin-left: 10px;
                                    div {
                                        a {
                                            font-size: 12px;
                                        }
                                        img {
                                            width: 10px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .table {
                    margin-left: 0;
                    margin-right: 0;
                    .table-main {
                        table {
                            font-size: 10px;
                        }
                    }
                }
            }
        }
    }
    // footer
    .footer {
        nav {
            font-size: 10px;
            .num {
                font-size: 12px;
            }
        }
    }
}
