aside.aside
  h2.aside__title Company
  ul.aside__list
    li.aside__list-item
      img(src="./static/icons/Dashboard.svg", alt="dashboard").aside__icon
      a(href="#").aside__link Dashboard
    li.aside__list-item
      img(src="./static/icons/User.svg", alt="User Profile").aside__icon
      a(href="#").aside__link User Profile
    li.aside__list-item
      img(src="./static/icons/Maps.svg", alt="User Profile").aside__icon
      a(href="#").aside__link Maps
    li.aside__list-item
      img(src="./static/icons/Notifications.svg", alt="Notifications").aside__icon
      a(href="#").aside__link Notifications
    li.aside__list-item
      img(src="./static/icons/Supports.svg", alt="Support").aside__icon
      a(href="#").aside__link Support