footer.footer
	nav.footer__nav.nav
		ul.nav__list
			li.nav__item
				a(href="").nav__link Blog
			li.nav__item
				a(href="").nav__link About
			li.nav__item
				a(href="").nav__link Licenses
	p.footer__copyright 2019 - made with love
