section.graphics
  .graphics__list-item.graphic-panel
    .graphic-panel__top
      img(src="./static/images/graphic.png", alt="Images")
      .graphic-panel__info
        h3.graphic-panel__title Used Space
        p.graphic-panel__text 49/50 GB
    p.graphic-panel__action Updated 4 minutes ago
  .graphics__list-item.graphic-panel
    .graphic-panel__top
      img(src="./static/images/graphic.png", alt="Images")
      .graphic-panel__info
        h3.graphic-panel__title Used Space
        p.graphic-panel__text 49/50 GB
    p.graphic-panel__action Compaing sent 2 days ago
  .graphics__list-item.graphic-panel
    .graphic-panel__top
      img(src="./static/images/graphic.png", alt="Images")
      .graphic-panel__info
        h3.graphic-panel__title Used Space
        p.graphic-panel__text 49/50 GB
    p.graphic-panel__action Compaing event 2 days ago