section.graphics
	.graphics__list
		.graphics__list-item.graphic-panel
			img.graphic-panel__image(src="./static/images/graphic.png", alt="Images")
			h3.graphic-panel__title
				span Used Space
				span.graphic-panel__text 49/50 GB
			p.graphic-panel__action Updated 4 minutes ago
		.graphics__list-item.graphic-panel
			img.graphic-panel__image(src="./static/images/graphic.png", alt="Images")
			h3.graphic-panel__title
				span Used Space
				span.graphic-panel__text 49/50 GB
			p.graphic-panel__action Comparing sent 2 days ago
		.graphics__list-item.graphic-panel
			img.graphic-panel__image(src="./static/images/graphic.png", alt="Images")
			h3.graphic-panel__title
				span Used Space
				span.graphic-panel__text 49/50 GB
			p.graphic-panel__action Comparing event 2 days ago
