section.panels
  .panels__list
    .panels__list-item.panel
      .panel__top
        img(src="./static/images/warning.jpg", alt="Images")
        .panel__info
          h3.panel__title Used Space
          p.panel__text 49/50 GB
      p.panel__action Get more space
    .panels__list-item.panel
      .panel__top
        img(src="./static/images/warning.jpg", alt="Images")
        .panel__info
          h3.panel__title Revenue
          p.panel__text.panel__text--money 34,245
      p.panel__action Last 24 hours
    .panels__list-item.panel
      .panel__top
        img(src="./static/images/warning.jpg", alt="Images")
        .panel__info
          h3.panel__title Fixed issue
          p.panel__text 75
      p.panel__action Tracked from github
    .panels__list-item.panel
      .panel__top
        img(src="./static/images/warning.jpg", alt="Images")
        .panel__info
          h3.panel__title Followers
          p.panel__text 245
      p.panel__action Just updated

