section.stats
	.stats__top
		h2.stats__title Employees Stats
		p.stats__subtitle New employees on 19th September, 2019
	table.stats__table.table
		tr.table__group
			th.table__name ID
			th.table__name Name
			th.table__name Salary
			th.table__name Country
		tr.table__group
			td.table__column 1
			td.table__column Dakota Rice
			td.table__column $36.738
			td.table__column Niger
		tr.table__group
			td.table__column 2
			td.table__column Dakota Rice
			td.table__column $36.738
			td.table__column Niger
		tr.table__group
			td.table__column 3
			td.table__column Dakota Rice
			td.table__column $36.738
			td.table__column Niger
		tr.table__group
			td.table__column 4
			td.table__column Dakota Rice
			td.table__column $36.738
			td.table__column Niger

