div.tasks
	.tasks__top
		h2.tasks__title Tasks:
		ul.tasks__filter.filter
			li.filter__item
				button.filter__button
					img(src="./static/icons/Bug.svg", alt="Icon for bugs").filter__img
					| Bugs
			li.filter__item
				button.filter__button
					img(src="./static/icons/Internet.svg", alt="Icon for website").filter__img
					| Website
			li.filter__item
				button.filter__button
					img(src="./static/icons/Cloud.svg", alt="Icon for server").filter__img
					| Server
	ul.tasks__list
		li.tasks__task.task
			label.task__wrapper
				input(type="checkbox")
				| Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi error voluptates repellat a provident.
				button.tasks__button(aria-label="edit todo")
					img(src="./static/icons/Edit.svg")
				button.tasks__button(aria-label="remove todo")
					img(src="./static/icons/Close.svg")
		li.tasks__task.task
			label.task__wrapper
				input(type="checkbox")
				| Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi error voluptates repellat a provident.
				button.tasks__button(aria-label="edit todo")
					img(src="./static/icons/Edit.svg")
				button.tasks__button(aria-label="remove todo")
					img(src="./static/icons/Close.svg")
		li.tasks__task.task
			label.task__wrapper
				input(type="checkbox")
				| Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi error voluptates repellat a provident.
				button.tasks__button(aria-label="edit todo")
					img(src="./static/icons/Edit.svg")
				button.tasks__button(aria-label="remove todo")
					img(src="./static/icons/Close.svg")
		li.tasks__task.task
			label.task__wrapper
				input(type="checkbox")
				| Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi error voluptates repellat a provident.
				button.tasks__button(aria-label="edit todo")
					img(src="./static/icons/Edit.svg")
				button.tasks__button(aria-label="remove todo")
					img(src="./static/icons/Close.svg")
